@import "tailwindcss";


@keyframes modalPopIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-modalPopIn {
  animation: modalPopIn 0.3s ease-out forwards;
}

